*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("./image.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
